<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music website</title>
    <link rel ="stylesheet" href="/css/style.css">
    
</head>
<body>
    <nav>
        <ul class =  "container">
        <div class= "logo">
            <i class="fas fa-headphones-alt"></i>
            <h2>MUSIC</h2>
        </div>
        <div class ="nav-items">
            <li><a href="/Home">Home</a></li>
            <li><a href="/Connect">Connect</a></li>
            <li><a href="/Product">Product</a></li>
            <li><a href="/Contact">Contact</a></li>
            <li><a href="/About">About</a></li>
        </div>
        </ul>
    </nav>