
{{>header}}
    <div class= "pic">
    </div>
    <div class="right">
        <p>Click to Play</p>
        <img src="img/play.png" id="icon">
    </div>
    <script src="js/index.js"></script>
</body>

</html>